.home-banner-bg {
    .bg-banner-1 {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    .bg-banner-2 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .bg-banner-3 {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}